.header {
    height: 60px !important;
    background-color: #202641;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
}

.header .container {
    padding-top: 5px;
}

.header .logo {
    height: 50px;
}

.header .refresh_icon {
    height: 40px;
    padding-top: 7px;
    cursor: pointer;
}

.body-container {
    padding-top: 65px !important;
}

.title {
    margin-bottom: 20px;
}

.card_link {
    color: inherit;
}

.app_list {
    overflow: scroll;
}

.app_icon {
    margin: auto;
    padding: 5px !important;
    border-right: 1px solid #ddd;
}

.card-body {
    padding: 10px !important;
}

.container-fluid {
    padding-left: 0 !important;
}

.icon-block {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.icon_detail {
    margin: auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.vertical-center {
  margin: 0;
  position: absolute;
  bottom: 5%;
}

.card-attachment{
    border: none !important;
}